@import 'mixins/all.css.scss';
@import 'variables.css.scss';

.header {
  background-color: #645f8b;
  height: 30px;
  color: #fff;

  .header-title {
    font-size: 18px;
    float: left;
  }

  .header-menu {
    @include text-height(30px);
    float: right;
    margin: 0 8px 0 0;
    padding: 0 10px;

    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: $baseFontColor;
    }
  }
}

ul.project-list {
  $listWidth: 200px;
  $rowHeight: 26px;

  position: absolute;
  width: $listWidth;
  left: 400px;

  li       { border-top: solid 1px #ccc; }
  li:hover { border-top: solid 1px #aaa; }

  li {
    &, a {
      @include text-height($rowHeight);
      display: block;
    }

    &.exists-project {
      a {
        background-color: #fff;
        border-left: solid 5px #e3e3e3;
        padding-left: 8px;

        &:hover {
          background-color: #eee;
          border-left: solid 5px #5d639e;
          color: #202e97;
        }
      }
    }

    &.active-project {
      a {
        border-left: solid 5px #444 !important;
      }
    }

    &.new-project {
      border-top: solid 2px #e3e3e3;

      .new-project-name {
        @include box($listWidth - $textfieldPadding, $rowHeight);
      }

      .new-project-text {
        @include text-height($rowHeight);
        font-weight: bold;
        cursor: pointer;
      }

      &:hover {
        background-color: #eee;
      }

      img {
        float: left;
        margin: 5px 5px 0 3px;
      }
    }
  }
}

.task-list {
  margin: 10px;

  .task-list-header-area {
    padding: 8px;

    .project-name {
      font-size: 20px;
    }
  }

  .task-list-menu {
    height: 30px;
    background-color: #e3e3e3;
  }

  ul.task-list-items {
    li {
      @include text-height(24px);
      border-bottom: solid 1px #e3e3e3;
      padding: 6px 0 0 0;

      .task-item {
        float: left;
        margin: 0 6px 0 6px;
      }

      .task-asignee {
        width: 24px;
      }
      .task-completed-check {
        @include box(16px, 16px);
        border: solid 1px #e3e3e3;
        border-radius: 3px;
      }
      .task-tags {
        float: right;
      }
    }
  }
}
