@import 'mixins/all.css.scss';
@import 'variables.css.scss';

.header {
  background-color: #645f8b;
  height: 30px;
  color: #fff;

  .header-title {
    font-size: 18px;
    float: left;
  }

  .header-menu {
    @include text-height(30px);
    float: right;
    margin: 0 8px 0 0;
    padding: 0 10px;

    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: $baseFontColor;
    }
  }
}

ul.project-list {
  position: absolute;
  width: 200px;
  left: 400px;

  li {
    border-top: solid 1px #ccc;

    &:hover {
      border-top: solid 1px #aaa;
    }

    a {
      @include text-height(26px);
      background-color: #fff;
      border-left: solid 5px #e3e3e3;
      padding-left: 8px;
      display: block;
    }
    a:hover {
      background-color: #eee;
      border-left: solid 5px #5d639e;
    }
    &.active-project a {
      border-left: solid 5px #444 !important;
    }
  }
}

.task-list {
  margin: 10px;

  .task-list-header-area {
    padding: 8px;

    .project-name {
      font-size: 20px;
    }
  }

  .task-list-menu {
    height: 30px;
    background-color: #e3e3e3;
  }

  ul.task-list-items {
    li {
      @include text-height(24px);
      border-bottom: solid 1px #e3e3e3;
      padding: 6px 0 0 0;

      .task-item {
        float: left;
        margin: 0 6px 0 6px;
      }

      .task-asignee {
        width: 24px;
      }
      .task-completed-check {
        @include box(16px, 16px);
        border: solid 1px #e3e3e3;
        border-radius: 3px;
      }
      .task-tags {
        float: right;
      }
    }
  }
}
